<mat-card>
    <mat-card-content>



                <mat-label>Buscador</mat-label>
            <input type="text" class="form-control custom-border"  matInput (keyup)="applyFilter($event)"id="gender"formControlName="gender" aria-describedby="emailHelp">
                <br>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="data" matSort>

                  <ng-container matColumnDef="invoice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
                    <td mat-cell *matCellDef="let row"> {{row.invoice}} </td>
                  </ng-container>
                  <ng-container matColumnDef="personinformate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Denunciante </th>
                    <td mat-cell *matCellDef="let row"> {{row.personinformate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Persona de los hechos </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="dependencia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dependencia </th>
                    <td mat-cell *matCellDef="let row"> {{row.dependencia}} </td>
                  </ng-container>
                  <ng-container matColumnDef="medio_empleado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Medio empleado para cometer el acto </th>
                    <td mat-cell *matCellDef="let row"> {{row.medio_empleado}} </td>
                  </ng-container>
                  <ng-container matColumnDef="datesuccess">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha del hecho </th>
                    <td mat-cell *matCellDef="let row">{{ row.datesuccess | date:'dd/MM/yyyy' }}</td>
                </ng-container>
                  <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let row">
                    <button mat-icon-button color="warning"(click)="info(row)">
                        <i class="fas fa-eye"></i>
                    </button>
                   
                    </td>
                  </ng-container>
                  <!-- Fruit Column -->
                   <tr mat-header-row class="table-dark"  *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row class="table-dark" *matRowDef="let row; columns: displayedColumns;"></tr> 
                  <!-- Row shown when there is no matching data. -->
                 <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encuentran resultados</td>
                  </tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="seleccion de pagina"></mat-paginator> 
           </div> 

  </mat-card-content>
</mat-card>

<p-dialog [header]=" 'Caso de la persona '+dataSelected[0]?.name" [(visible)]="visible" [style]="{width: '50vw'}">
    <ng-container *ngFor="let item of dataSelected">
        <div class="container-fluid">
            <div class="row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4">
                                <div class="card-header bg-primary text-white">
                                    Detalles del Suicidio
                                </div>
                                <div class="card-body">
                                    <p><strong>Folio:</strong> {{ item.invoice }}</p>
                                    <p><strong>Nombre de la Persona Fallecida:</strong> {{ item.name }}</p>
                                    <p><strong>Edad:</strong> {{ item.age }}</p>
                                    <p><strong>CURP:</strong> {{ item.curp }}</p>
                                    <p><strong>Denunciante:</strong> {{ item.personinformate }}</p>
                                    <p><strong>Código Postal:</strong> {{ item.cp }}</p>
                                    <p><strong>Estado:</strong> {{ item.states }}</p>
                                    <p><strong>Municipio:</strong> {{ item.municipys }}</p>
                                    <p><strong>Colonia:</strong> {{ item.colony }}</p>
                                    <p><strong>Fecha de Ocurrencia del Suicidio:</strong> {{ item.datecurrence | date:'dd/MM/yyyy' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4">
                                <div class="card-header bg-primary text-white">
                                    Información Adicional
                                </div>
                                <div class="card-body">
                                    <p><strong>Sitio donde se Cometió el Acto:</strong> {{ item.sitio }}</p>
                                    <p><strong>¿El Acto Fue Planeado?</strong> {{ item.acto_fue }}</p>
                                    <p><strong>Clave de la Fuente (Dependencia):</strong> {{ item.dependencia }}</p>
                                    <p><strong>Causa del Acto:</strong> {{ item.causa }}</p>
                                    <p><strong>Dependencia a la que Canaliza:</strong> {{ item.dependencia_canalizada }}</p>
                                    <p><strong>Género:</strong> {{ item.genero }}</p>
                                    <p><strong>¿Cómo se Identifica?:</strong> {{ item.como_indentifica }}</p>
                                    <p><strong>Religión o Culto:</strong> {{ item.religion }}</p>
                                    <p><strong>Estado Civil:</strong> {{ item.estado_civil }}</p>
                                    <p><strong>Nivel de Escolaridad:</strong> {{ item.alfabetismo_escolaridad }}</p>
                                    <p><strong>Posesión de Hijos:</strong> {{ item.posesion_hijos }}</p>
                                    <p><strong>Historial Familiar de Suicidios:</strong> {{ item.suicidas_familia }}</p>
                                    <p><strong>Adicciones Conocidas:</strong> {{ item.adiciones }}</p>
                                    <p><strong>Enfermedades Diagnosticadas:</strong> {{ item.enfermedades }}</p>
                                    <p><strong>Tipo de Violencia Asociada:</strong> {{ item.violencia }}</p>
                                    <p><strong>Configuración Familiar:</strong> {{ item.familia }}</p>
                                    <p><strong>Institución Educativa:</strong> {{ item.centro_educativo }}</p>
                                    <p><strong>Medio Empleado para el Acto:</strong> {{ item.medio_empleado }}</p>
                                    <p><strong>Ocupación:</strong> {{ item.ocupacion }}</p>
                                    <p><strong>Descripción:</strong> {{ item.description }}</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </ng-container>
</p-dialog>
