
<div [@fadeInOutAnimation] class="row content"  [ngClass]="{'loading': loading}">
    
    <div class="row" >
        <div class="col-6">
            <mat-card>
                <mat-card-content>
                    <mat-form-field appearance="outline" style="width: 80%;">
                        <mat-label>Seleccionar tipo de gráfico</mat-label>
                        <mat-select value="column" (selectionChange)="onChartTypeChangeAge($event)">
                          <mat-option value="line">Línea</mat-option>
                          <mat-option value="column">Columna</mat-option>
                          <mat-option value="bar">Barra</mat-option>
                          <mat-option value="area">Área</mat-option>
                          <mat-option value="pie">Pastel</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    <div id="age" style="width:100%; height:400px;"></div>
                    <!-- <p-chart type="bar" [data]="violence"></p-chart> -->
            </mat-card-content>
            </mat-card>
        </div>

        <div class="col-6">
            <mat-card>
            <mat-card-content>
                <mat-form-field appearance="outline" style="width: 80%;">
                    <mat-label>Seleccionar tipo de gráfico</mat-label>
                    <mat-select value="pie" (selectionChange)="onChartTypeChangeMedia($event)">
                      <mat-option value="line">Línea</mat-option>
                      <mat-option value="column">Columna</mat-option>
                      <mat-option value="bar">Barra</mat-option>
                      <mat-option value="area">Área</mat-option>
                      <mat-option value="pie">Pastel</mat-option>
                    </mat-select>
                  </mat-form-field>
            <div id="media" style="width:100%; height:400px;"></div>
        </mat-card-content>
    </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto"> <!-- Columna centrada horizontalmente -->
            <ng-template #SkeletonTable>
                <!-- Esqueleto de carga -->
                <div style="position: relative; height: 80vh;"> <!-- Estilo para centrar verticalmente -->
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h2>Cargando ....</h2>
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>