
<div [@fadeInOutAnimation] class="row content"  [ngClass]="{'loading': loading}">
    
    <div class="row" >
        <div class="col-6">
            <mat-card>
                <mat-card-content>
                    <div id="container" style="width:100%; height:400px;"></div>
                    <!-- <p-chart type="bar" [data]="violence"></p-chart> -->
            </mat-card-content>
            </mat-card>
        </div>

        <div class="col-6">
            <mat-card>
            <mat-card-content>
            
            <div id="pie" style="width:100%; height:400px;"></div>
        </mat-card-content>
    </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto"> <!-- Columna centrada horizontalmente -->
            <ng-template #SkeletonTable>
                <!-- Esqueleto de carga -->
                <div style="position: relative; height: 80vh;"> <!-- Estilo para centrar verticalmente -->
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h2>Cargando ....</h2>
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>