
<div [@fadeInOutAnimation] class="row content"  [ngClass]="{'loading': animation}">
    <button (click)="generatePDF()" mat-raised-button color="primary" >Descargar formato pdf a mano</button>

      <mat-stepper [linear]="" label="Registro" #stepper>
        <mat-step label="Registro">
            <div *ngIf="!isLoadingSkeleton; else SkeletonTable">
                <mat-stepper  #stepper>
                    <mat-step label="Datos de la fuente informativa" >
                        <form [formGroup]="MyForm" (ngSubmit)="onSubmit()">
                            <br>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Fecha de registro</mat-label>
                                <input [readonly]="true" formControlName="dateregister" matInput>
                            </mat-form-field>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Nombre de la persona suicidada</mat-label>
                                <input formControlName="name" matInput>
                            </mat-form-field>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Folio</mat-label>
                                <input readonly formControlName="invoice" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>El acto fue</mat-label>
                                <mat-select formControlName="actwas_id">
                                    <mat-option *ngFor="let i of wasact" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <mat-label>Intento de suicido o suicidio registrado en el mes de: </mat-label>
                            <br>
                            <p-calendar
                            [defaultDate]="hoy"
                            formControlName="datecurrence"[inline]="true" [locale]="'es'"></p-calendar>
                                <br>
                                <br>
                                <br>
            
                                <mat-form-field  appearance="outline" style="width: 100%">
                                    <mat-label>codigo postal de la fuente</mat-label>
                                    <input type="number" (input)="SearchCp($event)" formControlName="cp" matInput>
                                </mat-form-field>
                                <mat-form-field  appearance="outline" style="width: 100%">
            
                                    <mat-label>Estado de la fuente</mat-label>
                                    <input readonly formControlName="states" matInput>
                                    <ng-container *ngIf="loading">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field  appearance="outline" style="width: 100%">
                                    <mat-label>Municio de la fuente</mat-label>
            
                                    <input readonly formControlName="municipys" matInput>
                                    <ng-container *ngIf="loading">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>Colonia de la fuente</mat-label>
                                    <mat-select formControlName="colony">
                                        <mat-option *ngFor="let i of colonias" [value]="i">{{i}}</mat-option>
                                    </mat-select>
                                    <ng-container *ngIf="loading">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <ng-container  *ngIf="role!='Capturista'">
                                    <mat-form-field appearance="outline" style="width: 100%">
                                        <mat-label>Clave de la fuente(Dependencia)</mat-label>
                                        <mat-select formControlName="dependeces_id">
                                            <mat-option *ngFor="let i of dependeces" [value]="i.value">{{i.text}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-container>
                                <mat-label>Fecha de ocurrencia dia: </mat-label>
                                <br>
                                <p-calendar
            
                                formControlName="datesuccess"[inline]="true" [locale]="CALENDER_CONFIG_EN"></p-calendar>
                                <br>
                                <br>
                                <mat-form-field  appearance="outline" style="width: 100%">
                                    <mat-label>Codigo postal del suicidio</mat-label>
                                    <input type="number" (input)="SearchCpDeed($event)" formControlName="cpdeed" matInput>
                                </mat-form-field>
                                <mat-form-field  appearance="outline" style="width: 100%">
                                    <mat-label>Estado postal del suicidio</mat-label>
                                    <input readonly formControlName="statesdeed" matInput>
                                    <ng-container *ngIf="loadingtwo">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field  appearance="outline" style="width: 100%">
                                    <mat-label>Municio del suicidio</mat-label>
                                    <input readonly formControlName="municipysdeed" matInput>
                                    <ng-container *ngIf="loadingtwo">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>Colonia del suicidio</mat-label>
                                    <mat-select formControlName="colonydeed">
                                        <mat-option *ngFor="let i of coloniasdeed" [value]="i">{{i}}</mat-option>
                                    </mat-select>
                                    <ng-container *ngIf="loadingtwo">
                                        <mat-spinner></mat-spinner>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>Sitio donde cometio el acto</mat-label>
                                <mat-select formControlName="sites_id">
                                    <mat-option *ngFor="let i of sites" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Causa del acto</mat-label>
                                <mat-select formControlName="causes_id">
                                    <mat-option *ngFor="let i of causes" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Medio empleado para cometer el acto</mat-label>
                                <mat-select formControlName="meanemployeed_id">
                                    <mat-option *ngFor="let i of meansemployeed" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Dependencia a la que canaliza</mat-label>
                                <mat-select formControlName="dependececanalize_id">
                                    <mat-option *ngFor="let i of dependeces" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Quien denuncia</mat-label>
                                <input  formControlName="personinformate" matInput>
                            </mat-form-field>
            
                            @if (MyForm.valid) {
                                <button (click)="nextStep(stepper)" mat-raised-button color="primary">Continuar</button>
                            }
                            @else {
                                <button
                                disabled
                                mat-raised-button color="primary">Continuar</button>
                            }
            
                        </form>
                    </mat-step>
                    <mat-step label="Caracteristicas personales suicidas">
                        <form [formGroup]="Myformsecond" (ngSubmit)="onSubmitsecond()">
                            <br>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Curp</mat-label>
                                <input  formControlName="curp" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="gender_id">
                                    <mat-option *ngFor="let i of genders" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field  appearance="outline" style="width: 100%">
                                <mat-label>Edad(Años cumplidos)</mat-label>
                                <input type="number" formControlName="age" matInput>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Religion o culto</mat-label>
                                <mat-select formControlName="belief_id">
                                    <mat-option *ngFor="let i of beliefs" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Estado civil</mat-label>
                                <mat-select formControlName="statecivil_id">
                                    <mat-option *ngFor="let i of statesCivils" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Alfabetismo y escolaridad</mat-label>
                                <mat-select formControlName="literacy_id">
                                    <mat-option *ngFor="let i of literacys" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>posesión de hijos</mat-label>
                                <mat-select formControlName="childrens_id">
                                    <mat-option *ngFor="let i of childrens" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Existencia de suicidas en la familia</mat-label>
                                <mat-select formControlName="existence_id">
                                    <mat-option *ngFor="let i of existences" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label>¿Tiene alguna adicción?</mat-label>
                            <mat-radio-group formControlName="addicion" aria-label="Select an option">
                                <ng-container *ngIf="addicion" >
                                    <mat-radio-button (click)="addicionSelected(1)" value=true checked >Si</mat-radio-button>
                                    <mat-radio-button (click)="addicionSelected(0)" value=false>No</mat-radio-button>
                                </ng-container>
                                <ng-container *ngIf="!addicion" >
                                    <mat-radio-button (click)="addicionSelected(1)" value=true  >Si</mat-radio-button>
                                    <mat-radio-button (click)="addicionSelected(0)" value=false checked>No</mat-radio-button>
                                </ng-container>
                              </mat-radio-group>
                              <ng-container *ngIf="addicion" >
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Adicciones</mat-label>
                                <mat-select formControlName="adictions_id">
                                    <mat-option *ngFor="let i of adictions" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            </ng-container>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Enfermedades</mat-label>
                                <mat-select formControlName="diseases_id">
                                    <mat-option *ngFor="let i of diseases" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Tipo de violencia</mat-label>
                                <mat-select formControlName="violence_id">
                                    <mat-option *ngFor="let i of violences" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Tipo de familia</mat-label>
                                <mat-select formControlName="family_id">
                                    <mat-option *ngFor="let i of familys" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label>¿Es estudiante?</mat-label>
                            <mat-radio-group formControlName="estudiante" aria-label="Select an option">
                                <ng-container *ngIf="estudiante" >
                                    <mat-radio-button (click)="estudianteSelected(1)" value=true checked >Si</mat-radio-button>
                                    <mat-radio-button (click)="estudianteSelected(0)" value=false>No</mat-radio-button>
                                </ng-container>
                                <ng-container *ngIf="!estudiante" >
                                    <mat-radio-button (click)="estudianteSelected(1)" value=true  >Si</mat-radio-button>
                                    <mat-radio-button (click)="estudianteSelected(0)" value=false checked>No</mat-radio-button>
                                </ng-container>
                              </mat-radio-group>
                            <ng-container *ngIf="estudiante" >
                                
                                <mat-form-field appearance="outline" style="width: 100%">
                                    <mat-label>Centro educativo</mat-label>
                                    <mat-select formControlName="school_id">
                                        <mat-option *ngFor="let i of schools" [value]="i.value">{{i.text}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Como se indentifica</mat-label>
                                <mat-select formControlName="indetified_id">
                                    <mat-option *ngFor="let i of indetifieds" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-label>Fecha de reindición de datos del dia </mat-label>
                            <br>
                            <p-calendar
            
                            formControlName="datereindence"[inline]="true" [locale]="CALENDER_CONFIG_EN"></p-calendar>
                                <br>
                                <br>
                                <button mat-raised-button (click)="previousStep(stepper)" color="accent">Regresar</button>
            
                                @if (Myformsecond.valid) {
                                    <button mat-raised-button (click)="nextStep(stepper)" color="primary">Continuar</button>
                                }
                                @else {
                                    <button
                                    disabled
                                    mat-raised-button color="primary">Continuar</button>
                                }
            
                    </form>
                    </mat-step>
                    <mat-step label="Ocupacion que tiene (tenia) el suicida">
                        <form [formGroup]="Myformtree" (ngSubmit)="Onsubmitree()">
                            <br>
                            <mat-form-field appearance="outline" style="width: 100%">
                                <mat-label>Ocupación</mat-label>
                                <mat-select formControlName="activies_id">
                                    <mat-option *ngFor="let i of activities" [value]="i.value">{{i.text}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="outline" style="width: 100%">
                                <mat-label>Especifica el nombre de la actividad a que se dedica o dedicaba, agregando una breve descripción</mat-label>
                                <textarea matInput formControlName="description" placeholder=""></textarea>
                            </mat-form-field>
                            <button mat-raised-button type="button" (click)="previousStep(stepper)" color="accent">Regresar</button>
            
                            @if (Myformtree.valid && Myformsecond.valid &&MyForm.valid) {
                                <button mat-raised-button color="primary" (click)="stepper.reset()">Registrar</button>
                            }
                            @else {
                                <button
                                disabled
                                mat-raised-button color="primary" >Registrar</button>
                            }
                        </form>
                    </mat-step>
                </mat-stepper>
                </div>
        </mat-step>
        <mat-step label="Preregistro">
            <form [formGroup]="MyFormPreregistro" (ngSubmit)="onPressSubmit()">
                <br>
                <mat-form-field  appearance="outline" style="width: 100%">
                    <mat-label>Fecha de registro</mat-label>
                    <input [readonly]="true" formControlName="dateregister" matInput>
                </mat-form-field>
                <mat-form-field  appearance="outline" style="width: 100%">
                    <mat-label>Folio</mat-label>
                    <input readonly formControlName="invoice" matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>El acto fue</mat-label>
                    <mat-select formControlName="actwas_id">
                        <mat-option *ngFor="let i of wasact" [value]="i.value">{{i.text}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-label>Intento de suicido o suicidio registrado en el mes de: </mat-label>
                <br>

                <p-calendar
                [defaultDate]="hoy"
                formControlName="datecurrence"[inline]="true" [locale]="'es'"></p-calendar>
                
                    <br>
                    <br>
                    <br>
                    <ng-container  *ngIf="role!='Capturista'">
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Clave de la fuente(Dependencia)</mat-label>
                            <mat-select formControlName="dependeces_id">
                                <mat-option *ngFor="let i of dependeces" [value]="i.value">{{i.text}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                    <mat-form-field  appearance="outline" style="width: 100%">
                        <mat-label>Quien denuncia</mat-label>
                        <input  formControlName="personinformate" matInput>
                    </mat-form-field>
                    
                    <mat-form-field  appearance="outline" style="width: 100%">
                        <mat-label>Codigo postal del suicidio</mat-label>
                        <input type="number" (input)="SearchCpDeed($event)" formControlName="cpdeed" matInput>
                    </mat-form-field>
                    <mat-form-field  appearance="outline" style="width: 100%">
                        <mat-label>Estado postal del suicidio</mat-label>
                        <input readonly formControlName="statesdeed" matInput>
                        <ng-container *ngIf="loadingtwo">
                            <mat-spinner></mat-spinner>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field  appearance="outline" style="width: 100%">
                        <mat-label>Municio del suicidio</mat-label>
                        <input readonly formControlName="municipysdeed" matInput>
                        <ng-container *ngIf="loadingtwo">
                            <mat-spinner></mat-spinner>
                        </ng-container>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%">
                        <mat-label>Colonia del suicidio</mat-label>
                        <mat-select formControlName="colonydeed">
                            <mat-option *ngFor="let i of coloniasdeed" [value]="i">{{i}}</mat-option>
                        </mat-select>
                        </mat-form-field>
                        @if (MyFormPreregistro.valid) {
                            <button mat-raised-button color="primary" >Registrar</button>
                        }
                        @else {
                            <button
                            disabled
                            mat-raised-button color="primary" >Registrar</button>
                        }
            </form>
        </mat-step>
       
      </mat-stepper>
      
  
    <div class="row">
        <div class="col-md-8 mx-auto"> <!-- Columna centrada horizontalmente -->
            <ng-template #SkeletonTable>
                <!-- Esqueleto de carga -->
                <div style="position: relative; height: 80vh;"> <!-- Estilo para centrar verticalmente -->
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h2>Cargando ....</h2>
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
