/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";
/* styles.css */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-skeleton {
    background-color: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

  .p-skeleton-header,
  .p-skeleton-content {
    height: 20px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
  }

  .p-skeleton-header {
    width: 100%;
  }

  .p-skeleton-content {
    width: 80%;
  }

  .p-skeleton-animation {
    animation: loadingAnimation 1.5s infinite linear;
    -webkit-animation: loadingAnimation 1.5s infinite linear;
}

  @keyframes loadingAnimation {
    0% { opacity: 0.6; }
    50% { opacity: 0.8; }
    100% { opacity: 0.6; }
  }

  .cargando {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .cargando::after,
  .cargando::before {
    content: '';
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animcargando 2s linear infinite;
    -webkit-animation: animcargando 2s linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  .cargando::after {
    animation-delay: 1s;
  }

  @keyframes animcargando {
    0% {
      transform: scale(0);
      opacity: 1;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
}
    100% {
      transform: scale(1);
      opacity: 0;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
  }
  .description-label {
    max-width: 70%; /* Ajusta el ancho máximo según sea necesario */
    word-wrap: break-word; /* Rompe las palabras largas */
    margin:  auto;
    padding: 1rem;
    color:#9f9d9d;
    font-size: medium;
    /* Margen superior e inferior de 4rem, centrado horizontalmente */
    text-align: center; /* Alinea el texto justificado */
}


